@model PrijaviProblem.Models.RegisterViewModel
@{
    ViewBag.Title = "Регистрирај се";
}
<br />
<h2>@ViewBag.Title.</h2>

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <p>Креирајте профил.</p>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="row" style="width: auto; margin: 0 auto;">

        <div class="col-6">
            <div class="form-group">
                Емаил
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                </div>
            </div>
            <br />
            <div class="form-group">
                Лозинка
                <div class="col-md-10">
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                </div>
            </div>
            <br />
            <div class="form-group">
                Потврди лозинка
                <div class="col-md-10">
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                </div>
            </div>
        </div>

        <div class="col-6">
            <div class="form-group">
                Име и презиме
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.FullName, new { @class = "form-control" })
                </div>
            </div>
            <br />
            <div class="form-group">
                Години
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Age, new { @class = "form-control" })
                </div>
            </div>
            <br />
            <div class="form-group">
                Адреса на живеење
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Address, new { @class = "form-control" })
                </div>
            </div>
        </div>

    </div>
    <br />
    <div class="form-group" style="width: auto; margin: 0 auto;">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-success" value="Регистрирај се." />
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
